@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    
}

body {
    display: flex;
    justify-content: center;
    
}

p, label {
    font-family: "Montserrat";
    font-weight: 500;
    color: #333333;
}


.container {
    max-width: 969px;
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 4vh;
    
}

h1 {
    font-size: 4rem;
    margin-bottom: 5px;
    font-family: "Playfair Display";
    font-weight: 700;
}
.dots {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dots img {
    margin-right: 6px;
    height: 1rem;
    width: 1.5rem;
    
}
.dots p {
    font-size: 2rem;
    font-weight: 500;
    max-width: 780px;
}

.cake-image {
    width: 100%;
    margin-top: 20px;
    max-width: 969px;
    max-height: 470px;
    margin-bottom: 48px;
}

/*
    Section Ingredients
*/


input {
    min-width: 15px;
    min-height: 15px;
}

.ingredients-section h1 {
    font-size: 2.4rem;
    
}

.ingredients-section p {
    font-size: 2rem;
    margin: 15px 0 15px 0;
}

.ingredients {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    
}
.ingredients label {
    margin-left: 5px;
}

.ingredients-section p {
    font-family: "Playfair Display";
    font-weight: 400;
    margin: 30px 0 30px 0;
    
}

/*
    Section Instructions
*/

.instructions h1 {
    margin: 30px 0 30px 0;
    font-size: 2.4rem;
}

.instruction-items {
    min-width: 4rem;
    min-height: 4rem;
    font-size: 2.6rem;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    background-color: #F2994A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions-steps {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

}

.instructions-steps p {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 20px;
}



@media screen and (min-width: 1920px){

    .cake-image {
        max-width: 1404px;
        max-height: 605px;
    }
    .container {
        max-width: 1404px;
    }

    input {
        min-width: 30px;
        min-height: 25px;
    }


    html {
        font-size: 68%;
    }
}

@media screen and (max-width: 530px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 410px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 366px) {
    html {
        font-size: 39%;
    }
}
